%center {
    display: flex;
    align-self: center;
}

@mixin change_fonts($color, $f_size, $f_weight, $family) {
    color: $color;
    font-size: $f_size;
    font-weight: $f_weight;
    font-family: $family;
}

@mixin change_btn($color, $bg, $f_size, $pad, $border, $radius) {
    color: $color;
    background: $bg;
    font-size: $f_size;
    padding: $pad;
    border: $border;
    border-radius: $radius;
}

@mixin change__wh($w, $h) {
    width: $w;
    height: $h;
}

article {
    .container {
        .article__h1 {
            @include change_fonts(#fff, 24px, 600, Poppins);
            text-align: center;
            margin-top: 150px;
        }

        .article__contant {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .article__right {
                .article__img {
                    width: 428px;
                }

                .article__img_2 {
                    display: none;
                }
            }

            .article__left {
                .a__box {
                    margin-top: 40px;

                    .dis__icon_text {
                        display: flex;
                        align-items: center;
                        gap: 15px;

                        .article__h3 {
                            @include change_fonts(#fff, 24px, 600, Poppins);
                        }

                        .article__img {
                            width: 50px;
                        }
                    }

                    .article__p {
                        @include change_fonts(#fff, 16px, 400, Poppins);
                        max-width: 533px;
                        margin-top: 16px;
                    }
                }
            }
        }
    }
}

@media (max-width:1200px) and (min-width:990px) {
    .article__contant {
        margin-top: 50px;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }
}

@media (max-width:998px) and (min-width:770px) {
    .article__contant {
        margin-top: 50px;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }
}

@media (max-width:769px) and (min-width:630px) {
    .article__contant {
        margin-top: 50px;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }
}

@media (max-width:629px) and (min-width:450px) {
    article {
        .container {
            .article__contant {
                margin-top: 50px;
                flex-direction: column;
                align-items: center;
                gap: 40px;

                .article__right {
                    .article__img {
                        display: none;
                    }

                    .article__img_2 {
                        display: block;
                        width: 352px;
                    }
                }
            }
        }
    }
}

@media (max-width:449px) and (min-width:0px) {
    article {
        .container {
            .article__contant {
                margin-top: 50px;
                flex-direction: column;
                align-items: center;
                gap: 40px;

                .article__right {
                    .article__img {
                        display: none;
                    }

                    .article__img_2 {
                        display: block;
                        width: 252px;
                    }
                }
            }
        }
    }
}